:root {
  --color: #DDD;
  --bg-color: #222;
  --bg-color2: #444;
  --unselected-color: #888;
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 0 auto 4em auto;
  tab-size: 2;
  -webkit-text-size-adjust: none;
  background-color: var(--bg-color);
  color: var(--color);
}

.column {
    max-width: 960px;
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 0 10px;
}

header {
  width:100%;
  display: flex;
}

button {
  float:left;
  background-color: var(--bg-color);
  border: solid 1px var(--unselected-color);
  border-radius:10px;
  color: var(--unselected-color);
  padding:7.5px;  
  margin:25px auto 12px 15px;
  vertical-align: bottom;
}

button:hover {
  background-color: var(--bg-color2);
}

h1 {
    float:left;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: -1px;
    margin-bottom:0;

}

#tooltip {
  position: fixed;
  background-color:white;
  border:solid 1px black;
  border-radius:5px;
  padding: 5px 10px;
}

/* .line-group {
  opacity: 0.02;
  stroke: var(--unselected-color);
  fill: var(--unselected-color);
}

.line-group.selected {
  opacity: 1;
}

.line {
  fill: none;
} */

.state {
  stroke: var(--bg-color);
  stroke-width: 0.25px;
}




